<div class="message-container" id="message-<%= message.id %>">
  <i class="author">
    <span>
       <% if message.user.avatar.present? %>
        <%= image_tag github_avatar_url(message.user, size: 40),height: 40, width: 40, class: "rounded-circle "  %>
       <% else %>
        <%= image_tag gravatar_image_url(message.user.email, size: 40),height: 40, width: 40,  class: "rounded-circle"  %>
      <% end %>
      <% if !message.user.last_seen_at.nil? %>
        <% if message.user.online?  %>
          <span class="dot" style= "background-color: green;"></span>
        <% else %>
          <span class="dot" style= "background-color: red;"></span>
        <% end %>
      <% end %>
      <% if message.user.present? %>
         @<%= message.user.name.mentionable %>
      <% else %>
         @Anonymous
      <% end %>
    </span>
    <small>
      <%= message.created_at.strftime("%a %b %e at %l:%M%p") %>
       
    </small>
 
    <% if message.user == current_user%>
      <%= link_to  remove_chatroom_message_path(message.chatroom, message) , method: :delete  do %>
        <i class="far fa-trash-alt fa-lg" style="color:red;"></i>
      <% end %>
    <% end %>
  </i>
  <div>
   
      <% if message.attachement.present? %>
         <%= image_tag message.attachement.url(:thumb) %>
      <% end %>
    <h6 class='text-white'>
     <%=  raw markdown(message.content) %>
    </h6>
  </div>
 
</div>

