<div class="message-container" id="message-<%= message.id %>">
  <i class="author">
    <span>
      <% if message.user.present? %>
         @<%= message.user.name.mentionable %>
      <% else %>
         @Anonymous
      <% end %>
    </span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p><%= markdown(message.content) %></p>
  <% if message.user == current_user%>
    <%= link_to 'Remove', remove_chatroom_message_path(message.chatroom, message) , method: :delete, data: {confirm: 'Wanna delete it ?'} , class: 'btn btn-sm'%>
  <% end %>
</div>

