


<div class="row">
  <div class="col-sm-6">
    <h1>Gifs</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_gif_path, class: 'btn btn-primary' do %>
    Add New Gif
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Image</th>
            <th>Description</th>
            <th>Label</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @gifs.each do |gif| %>
        <%= content_tag :tr, id: dom_id(gif), class: dom_class(gif) do %>
          

                      <td><%= gif.image %></td>
                      <td><%= gif.description %></td>
                      <td><%= gif.label %></td>
          
          
            <td><%= link_to 'Show', gif %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
