
<div class="container">
  
  <%= search_form_for @q do |f| %>
  
    <div class="row justify-content-center">
      <div class="col">
          <%= f.search_field :label_cont, class: "form-search form-control-alternative", placeholder: 'Search all the GIFs'  %>

      </div>
      <div class="col-auto">
        <%= f.button :submit,   class: "btn btn-info btn-round" do %>
          <i class="fas fa-search"></i> 
        <% end %>
      </div>
    </div>
  <% end %>
 
  <hr>

  <div class="row">
    <div class="col-sm-8 ">
      
      <div class="card-columns ">
        <% @gifs.each do |gif| %>
        <div class="card bg-dark  border-0">
          <%= link_to  gif_path(gif) do %>
            <%=  image_tag(gif.image.url(:thumb), class: "card-img-top" )%>
          <% end %>
          <div class="card-body">
            
            <h6 class="card-title">
              <img src="data:image/png;base64,<%=  avatarly_url(gif.user,40) %>" height="30" width="30" class="rounded-circle" alt="">
              <%#=  image_tag gravatar_image_url(gif.user.email, size: 40), height: 30, width: 30, class: "rounded-circle","data-container": "body", "data-toggle": "popover", "data-placement": "top", "data-content": "#{gif.user.name}"  %>
              <small class="text-muted  font-weight-bold font-italic"> <%= gif.user.name.mentionable.capitalize %> <%= gif.label%> </small>
              
            </h6> 
            
            <p class="card-text font-weight-bold font-italic">
              <%= gif.description %>
              <small class="text-muted">
                <div class= "row">
                  <div class="col">
                    <%= time_ago_in_words(gif.created_at) %> 
                  </div>
                  <div class="col">
                      <% if gif.impressions_count.present? %>
                        <%= gif.impressions_count %> views
                      <% else %>
                        No views
                      <% end %>
                      
                  </div>
                </div>
              </small>
            </p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    
    <div class="col-sm-4">
      
      <div class= "container">
        <%= render_activities(@activities) %>
        <hr>
        <h2 style="font-weight: bolder;">Trending GIFs</h2>
        <% @trending.each do |trending| %>
          <div class="card">
            <%= link_to  gif_path(trending) do %>
            <%=  image_tag(trending.image.url(:thumb), class: "card-img-top" )%>
            <% end %>
            <div class="card-body">
              
              <h6 class="card-title">
                <%= image_tag gravatar_image_url(trending.user.email, size: 40), height: 30, width: 30, class: "rounded-circle" %>
                @<%= trending.user.name %>  
              </h6> 
              <p class="card-text"><%= trending.description %></p>
              <p class="card-text">
              <small class="text-muted">
                Created  <%= time_ago_in_words(trending.created_at) %></small>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>