
<div class="container-fluid content-row">
  <%= render 'search_gifs' %>
 
  <br>
  <div class="row">
    <div class="col-sm-8">
      <h2 style="font-weight: bolder; box-shadow: 10px 10px red;">Trending GIFs</h2>
      <br>
      <div class="card-columns">
        <%= render 'trending' %>
      </div>
      <h2 style="font-weight: bolder; box-shadow: 10px 10px cyan;">All GIFs</h2>
      <br>
      <div class="card-columns" id="gifs">
        <%#= render 'all' %>
        
        <%= futurize @gifs, extends: :div do %>
          <h4 class="placeholder">Loading...</h4>
        <% end %>
      </div>
    </div>
    
    <div class="col-sm-4">
       <% if user_signed_in? %>
        <h3 class="font-weight-bold" style="box-shadow: 10px 10px #FFFACD;">
          Your Profile :
        </h3>
        <br>
          <%= render "metrics/metrics"%>
        <% end %>
      <h3 class="font-weight-bold" style="box-shadow: 10px 10px gold;">Tags :</h3>
      <br>
      <div class="list-group" style="background: red; box-shadow: 10px 10px purple;">
        <%= render 'most_used_tags' %>
      </div>
    </div>
  </div>
</div>


