
  <div class="row">
    <div class="col-4">
    
          <a href="#!">
            <img src="data:image/png;base64,<%=  avatarly_url(@gif.user,40) %>" class=" img-center img-fluid shadow shadow-lg--hover" width="100px;" alt="">
            <%#=  image_tag gravatar_image_url(@gif.user.email, size: 40), class: "rounded-circle img-center img-fluid shadow shadow-lg--hover",style: "width: 140px;" %>

          </a>
          <div class="pt-4 text-center">
            <h5 class="h3 title text-white font-weight-bold">
              <span class="d-block mb-1"><%= @gif.user.name %></span>
             
              <% if user_signed_in? %>
                <% if current_user.id == @gif.user_id %>
                    <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primamry btn-sm"%>
                <%else %>
                    <% if !current_user.following?(@gif.user) %>
                      <%= button_to follow_gif_path(@gif), class: 'btn btn-info btn-sm', data: { disable_with: 'Loading..'}, method: :put do %>
                        Follow
                      <% end %>
                    <% else %>
                      <%= button_to unfollow_gif_path(@gif), class: 'btn btn-info btn-sm',data: { disable_with: 'Loading..'}, method: :put do %>
                      Followed
                      <% end %>
                    <% end %>
                <% end %>
              <% end %>

            </h5>
            <div class="mt-3">
              
              <% if @gif.user.github_url.present? %>
                <a href="<%= @gif.user.github_url %>" target="_blank" class="btn btn-github btn-icon-only rounded-circle">
                  <i class="fab fa-github"></i>
                </a>
              <% end %>
              <% if @gif.user.github_url.present? %>
              <a href="<%= @gif.user.facebook_url %>" target="_blank" class="btn btn-facebook btn-icon-only rounded-circle">
                <i class="fab fa-facebook"></i>
              </a>
              <% end %>
             
            </div>
          </div>

    </div>
    <div class="col-8">
      <dl class="dl-horizontal">
        <dt>
            
              <% if user_signed_in?  %>
                <% if current_user.id != @gif.user_id%>
                  <div id="like_<%= @gif.id %>" >
                    <%= like_button_for @gif %>
                  </div>
                <% else %>
                  <%= link_to 'Remove', gif_path(@gif) , class:'btn btn-sm btn-round btn-danger', method: :delete, data: {confirm: "Are you sure?"}%>
                <% end %>
              <% else %>
                <%= link_to "Sign in To Like/Unlike" ,new_user_session_path, class:" btn btn-sm btn-info"%>
              <% end %>
              <%= @gif.label %> GIF by <%= @gif.user.name%>
              <%= render 'gifs/likes', gif: @gif %>
            
        </dt>
        <br>
        <dd><%= image_tag(@gif.image.url) %></dd>

        <dt>Description:</dt>
        <dd><%= @gif.description %></dd>

        <dt>Label:</dt>
        <dd><%= @gif.label %></dd>
        <dt> Tags: </dt>
          <dd>
          <% @gif.tag_list.each do |tl| %>
            <button class="btn btn-info btn-sm" style="border-radius: 40px;">
              <%= tl %>
            </button>
          <% end %>
          </dd>
        
      </dl>
      
    </div>
  </div>
