<%= render 'back' %>
<div class="row">
  <div class="col-sm-4">
    <div class="card bg-transparent">

      <%= render 'show_user_gravatar', cached: true %>
      <div class="container">
        <%= render 'show_user_others_profiles', cached: true %>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
          
          <%= render 'user_informations', cached: true %>
         
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
      </div>
    </div>
  </div>
  <div class="col-sm-8" >
  
    <div class="container" style=" box-shadow: 5px 5px #A52A2A;">
      <h5 class="text-white text-align font-weight-bold">
         GIF by @<%= @gif.user.name%> 
         
      </h5> 

      <p class="text-align font-weight-bold" style="color: orange;">
        <%= @gif.description %>
        <%= render 'show_like_gif', cached: true %>
      </p>
      <%= render 'show_image_full' , cached: true%>

      
      <%= render 'show_tags_list', cached: true %>
      
      <%= render 'show_comments_section', cached: true %>
      
    </div>
  </div>
</div>

<style>
.container-image {
  position: relative;
  text-align: center;
  color: white;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
</style>