

    <div class="d-flex ">
      <div class="list-group w-200px bg-black br-light">
          <%= render 'all_chatrooms' %> 
          <%= render 'chatroom_invitation' %>
      </div>


      <div class="chatroom">
          <%= render 'chatroom_description' %>
          
      <div>
          
      <%= render 'chatroom_messages' %>
      <%= render 'chatroom_new_message' %>
     
    </div>


