

    <div class="d-flex ">
      <div class="list-group w-200px bg-black br-light">
       
        <%= link_to 'Add a Room', new_chatroom_path, class: 'btn  btn-default', method: :get %>
        <br>
        <% Chatroom.all.each do |chatroom| %>
          <%= link_to "##{chatroom.name}", chatroom_path(chatroom), class: "list-group-item #{'active' if chatroom == @chatroom}" %>
         
        <% end %>
     
      </div>


      <div class="chatroom">
        <h1 class=" font-weight-bold">
          #<%= @chatroom.name %>
            <% if @chatroom.messages.where.not(user_id: current_user.id).unread_by(current_user).any? %>
              <span class="badge badge-pill badge-info"> <%= @chatroom.messages.unread_by(current_user).where.not(user_id: current_user.id).count %>  unread messages</span>
            <% end %>
        </h1>
   
        <div>
          <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
            <% if @chatroom.messages.present? %>
              <% @chatroom.messages.includes([:user]).each do |message| %>
                <%= render "messages/message", message: message %>
              <% end %>
            <% end %>
          </div>

          <%= simple_form_for [ @chatroom, @message ], validate: true do |f| %>
            <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" , hint: "Markdown is Supported."  %>
          <% end %>
        </div>
      </div>
    </div>


