
<%= simple_form_for([@conversation, @chat] ,remote: true, validate: true) do |f| %>
  <div class="notifications bottom-left">
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  </div>
   <div class="input-group">
    <%= f.text_field :message, placeholder: "Type your message here...", class: 'form-control' %>
    <div class="input-group-append">
      <%= f.submit "Send Message", class: "btn btn-sm btn-primary", id: 'chat-btn' %>
    </div>
  </div>
<% end %>
