<div id="conversation-id" data-conversation-id="<%= @conversation.id %>"></div>
<div id="user-id" data-user-id="<%= current_user.id %>"></div>
<div class="container-fluid">
        

        <div class="row">
            <div class="col-sm-3 convs-sidebar">
                <div class="card no-outline">
                    <div class="card-body">
                        <small>Logged in as</small><br>
                        <b><%= current_user.name %><br></b>
                    </div>
                </div>
                <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                <%= link_to 'All Conversations', conversations_path, class: "btn btn-block btn-primary" %>
                <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                <% if @conversations.includes([:sender, :recipient]).present? %>
                    <% @conversations.includes([:sender,:recipient]).each do |conv| %>
                        <%= link_to  new_conversation_chat_path(conv), class: 'conv-link' do %>
                            <% active_class = (@conversation == conv) ? 'active' : '' %>
                                <div class="card no-outline mb-2 conv-card <%= active_class %>">
                                    <div class="card-body">
                                        <span class='name'><%= conv.opposed_user(current_user).name %></span><br>
                                    </div>
                                </div>
                        <% end %>
                    <% end %>
            
                <% end %>
                
            
            </div>
            <div class="col-lg-9">
                
                
                <div class="chat-conv">
                    
                    <nav class="navbar navbar-black">
                        <span class="navbar-brand" href="#">
                            <b>
                                -  
                                <% if @conversation.opposed_user(current_user).avatar.present? %>
                                    <%= image_tag github_avatar_url(@conversation.opposed_user(current_user), size: 40),height: 30, width: 30, class: "rounded-circle "  %>
                                <% else %>
                                    <%= image_tag gravatar_image_url(@conversation.opposed_user(current_user).email, size: 40),height: 30, width: 30,  class: "rounded-circle"  %>
                                <% end %>
                                -
                                @<%= @conversation.opposed_user(current_user).name.mentionable %>
                                <% if !@conversation.opposed_user(current_user).last_seen_at.nil? %>
                                    <% if @conversation.opposed_user(current_user).online?  %>
                                        <span class="dot" style= "background-color: green;"></span>
                                    <% else %>
                                        <span class="dot" style= "background-color: red;"></span>
                                    <% end %>
                                <% end %>
                            </b>
                        </span>
                    
                        <small>Started <%= time_ago_in_words(@conversation.created_at) %> </small>
                    </nav>
                   
                
                    <div id="messages">
                        <% @chats.includes([:user]).each do |chat| %>
                                    
                           <%= render 'chat', chat: chat %>
                        <% end %>
                               
                    </div>
            
                    <div class="chat-box">
                        <%= render 'form', chat: @chat %>
                    </div>
                </div>
            </div>
        </div>
</div>
