<div id="conversation-id" data-conversation-id="<%= @conversation.id %>"></div>
<div id="user-id" data-user-id="<%= current_user.id %>"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-3 convs-sidebar">
            <div class="card  no-outline">
                <div class="card-body">
                    <small>Logged in as</small><br>
                    <b><%= current_user.name %><br></b>
                </div>
            </div>
            <hr>
            
            <hr>
            <% if @conversations.includes([:sender, :recipient]).present? %>
                <% @conversations.includes([:sender,:recipient]).each do |conv| %>
                    <%= link_to  new_conversation_chat_path(conv), class: 'conv-link' do %>
                        <% active_class = (@conversation == conv) ? 'active' : '' %>
                            <div class="card no-outline mb-2 conv-card <%= active_class %>">
                                <div class="card-body">
                                    <span class='name'><%= conv.opposed_user(current_user).name %></span><br>
                                </div>
                            </div>
                    <% end %>
                <% end %>
          
            <% end %>
            
           
        </div>
        <div class="col-9">
            
            
            <div class="chat-conv">
                <nav class="navbar-chat navbar-dark">
                    <span class="navbar-brand" href="#">
                        <b>
                             @<%= @conversation.opposed_user(current_user).name.mentionable %>
                             <% if !@conversation.opposed_user(current_user).last_seen_at.nil? %>
                                <% if @conversation.opposed_user(current_user).online?  %>
                                    <span class="dot" style= "background-color: green;"></span>
                                <% else %>
                                    <span class="dot" style= "background-color: red;"></span>
                                <% end %>
                            <% end %>
                        </b>
                    </span>
                  
                    <small><%= @conversation.chats.uniq.count %> Messages</small>
                </nav>
                <% if @chats.includes([:user]).present? %>
            
                        <div id="messages">
                            <% @chats.each do |chat| %>
                                <p id="<%=chat.id%>">
                                <div class="message mb-2 <%= 'me' if chat.user == current_user %> ">
                                    <div class="content-container">
                                        <div class="content">
                                            <%= chat.message %>
                                        </div>
                                        <div class="author">
                                            <%= chat.user.name %>
                                            <b>
                                                <%= chat.chat_time%>
                                            </b>
                                        </div>
                                    </div>
                                </div>
                                </p>

                            <% end %>
                        </div>
                <% else %>
                        <div id="messages">
                            <h1 class="text-center font-weight-bold">
                                No Messages To Show !!
                            </h1>
                        </div>
                <% end %>

                
                
                <%= render 'form', chat: @chat %>
                
            </div>
        </div>
    </div>
</div>