<div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm-6">
        
        <h1 class= "text-center font-weight-bold"> Gif Maker</h1>
    
            <%= simple_form_for(@image, url: new_path, validate: true) do |form| %>
                <%= form.file_field :images_hash ,multiple: true%>
                <%= form.input :description , placeholder: "little description"%>
                <%= form.input :label , placeholder: "label"%>
                <%= form.input :tag_list, value: form.object.tag_list.join(", "), class: "form-control",placeholder: "Tag list (comma separated)", hint: 'Example: Ruby On Rails,Js' %>

                <%= form.button :submit, "Make a Gif" , class: "btn btn-lg btn-block btn-warning", data: {disable_with: "Please wait..." } %>

            <% end %>
    
        
        </div>
 
    <div class="col-sm">
    </div>
</div>
