<!DOCTYPE html>
<html>

<head>
  <%= render 'shared/head' %>
  <%= render 'shared/notify'%>
</head>

<body>
  <%= render 'shared/navbar' %>
  
 
  <div class="container">
  <div class="notifications">
      <%= render 'shared/notices' %>
  </div>
      <%= yield %>

  </div>

   
</body>

</html>
